/*
  Toggle button
*/

.menu-button-container {
  flex: 2 0 0;
}
.menu-toggle {
	background-color: transparent;
	border: 1px solid #d1d1d1;
	color: #252E49;
	font-size: 16px;
  float: right;
	// margin: 1.076923077em 0;
	// padding: 0.769230769em;
}

.no-js .menu-toggle {
	display: none;
}

.menu-toggle:hover,
.menu-toggle:focus {
	background-color: transparent;
	border-color: #007acc;
	color: #007acc;
}

.menu-toggle.toggled-on,
.menu-toggle.toggled-on:hover,
.menu-toggle.toggled-on:focus {
	background-color: #252E49;
	border-color: #252E49;
	color: #fff;
}

.menu-toggle:focus {
	outline: 0;
}

.menu-toggle.toggled-on:focus {
	outline: thin dotted;
}

/*
  Main nav
*/


/**
 * 6.2 - Menus
 */

.site-header-menu {
  display: none;
  // flex: 2 0 0;
  @media screen and (min-width: $md) {
    //flex: 0 1 auto;
  	//margin: 0.875em 0;
    display: block;
  }
}
.primary-menu {
  position: absolute;
  top: 56px;
  right: -3px;
  z-index: 100;
  @media screen and (min-width: $md) {
    display: block;
    display: flex;
    top: 14px;
    left: 220px;
  }
}
.primary-menu li {
  list-style: none;
  font-size: 14px;
  font-family: $montserrat;
  flex-direction: column;
  margin: 0 .25em 0 0;
  background-color: $dark-blue;
  &:hover {
    background-color: $dark-green;
  }
  a {
    display: block;
    color: #fff;
    padding: .5em 1em;
    border-bottom: 1px solid rgba(255,255,255,.35);
  }
  @media screen and (min-width: $md) {
    flex-direction: row;
    border-radius: 4px;
  }
}
.current_page_item {
  background-color: $dark-green!important;
}
// font-family: Montserrat, "Helvetica Neue", sans-serif;
.site-header-menu.toggled-on,
.no-js .site-header-menu {
	display: block;
}

.site-footer .main-navigation {
	margin-bottom: 1.75em;
}
