/* ========
Variables
=========== */

$montserrat: Montserrat, "Helvetica Neue", sans-serif;

/* ========
Media queries
=========== */
$xs: 44.375em; /* 710px */
$sm: 48.9375em; /* 783p */
$md: 56.875em; /* 910px */
$lg: 61.5625em; /* 985px; */
$xlg: 75em; /* 1200px; */

/* ========
Colors
=========== */
$dark-green: #7C7F33;
$dark-blue: #252E49;
